@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

.font-serif {
  font-family: 'DM Serif Display', serif;
}

input[type="range"] {
  accent-color: #2563eb;
}
